body {
    background-color: #f1f5f9;
    transition: 0.5s;
}

.login-card {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}

.form-control {
    padding: 12px;
}

.btn {
    border-radius: 10px;
}